.register {
  background: #f4f8fa;
  padding-top: 100px;
}

.register__box {
  max-width: 500px;
  margin: 24px auto 0;
  background: var(--secondaryColar);
  border-radius: 10px;
  box-shadow: 0px 4px 56px 0px rgba(0, 0, 0, 0.04),
    0px 12px 16px 0px rgba(0, 0, 0, 0.04);
}

.register__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand__logo {
  margin: 40px 0 24px;
  width: 100px;
  height: 40px;
}

.brand__logo img {
  width: 100%;
}

.brand__title {
  padding-bottom: 16px;
  color: var(--primaryColar);
  font-size: 29px;
  font-weight: 700;
}

.brand__infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 56px;
}

.brand__desc {
  color: var(--primaryColar);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
}

.brand__link {
  color: #01bab3;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border-bottom: 1.5px solid transparent;
}

.brand__link:hover {
  border-color: #01bab3;
}

.register__form {
  padding: 0 40px 25px;
}

.fisrt__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.first__name,
.last__name {
  width: 50%;
}

.fisrt__row input {
  width: 100%;
  padding: 5px 10px;
  color: var(--primaryColar);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.name,
.date,
.gender {
  color: var(--primaryColar);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.name span,
.date span,
.gender span {
  color: #01bab3;
}

.birthday {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#date {
  padding: 5px 10px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.gender__row {
  margin-bottom: 25px;
}

.chack__gender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.female,
.male {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  font-size: 24px;
  justify-content: flex-start;
  border: 1px solid var(--primaryColar);
  background: white;
  border-radius: 10px;
  padding: 5px 20px;
  color: black;
}

.skype,
.promo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 25px;
}

#skype,
#promo {
  padding: 10px 16px;
  color: var(--primaryColar);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 6px;
  border: 0.5px solid black;
}

.skype__lab,
.promo__lab {
  color: var(--primaryColar);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.btn__register {
  width: 100%;
  margin-bottom: 25px;
  padding: 12px 0;
  color: var(--secondaryColar);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  background: #01bab3;
}

.desc {
  max-width: 310px;
  margin: 0 auto;
  padding: 25px 0;
  color: var(--primaryColar);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 550px) {
  .register__box {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .register__box {
    max-width: 500px;
    margin: 0 15px;
  }

  .fisrt__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .first__name,
  .last__name {
    width: 100%;
  }
  .chack__gender {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .female,
  .male {
    width: 100%;
    border-radius: 4px;
  }
}

.light {
  --primaryColar: white;
  --secondaryColar: black;
}

.light .register{
    background: black;
}
